*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

/*body*/
body {
  /* background-color: #D3D3D3; */
  font-family: "Open Sans";
  font-size: 1.125em;
  line-height: 28px;
  font-weight: 100;
  /* margin-top: 70px; */
}

 /*hero*/
 .hero {
height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;

 }

 .herointro {
  color: #000000;
  font-weight: 700;
  font-family: 'Montserrat';
  text-align: center;
  line-height: 60px;
  font-size: 3rem;

 }

 .slogan {
  color: #000000;
  font-size: 2.5rem;
  /* font-family: "Open Sans"; */
  line-height: 50px;
  text-align: center;
  font-weight: 100;
 }

 .container {
   width: 90%;
   margin: auto;
 }


/* Columns, Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




/*bio and photo*/


#photocolumn {
  padding-right: 9%;
  width: 100%;
  margin-top: 20px;
}

.biop {
 width: 90%;
 padding-left: 10%;
 line-height: 180%;
 font-family: "Open Sans";
 padding-bottom: 20%;
}

#colorb {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56ceea, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ceea, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}



/*footer*/

footer {
  margin-top: 50px;
  margin-bottom: 25px;
}

/* .fa-2x {
   font-size: 2.5em;
} */

@media screen and (max-width: 600px) {
    .column   {
        width: 100%;
    }

    #photocolumn  {
        width: 100%;
        margin-left: 25px;

    }
}

@media screen and (max-width: 425px) {
  #container {
    width: 90%;
  }

  p, body {
    font-size: 16px;
    line-height: 25px;
  }



  /* .logo {
    padding: 0;
  } */

  .hero {
    /* padding-top: 3rem 0; */
    margin: auto;
  }

}
